@import "variables";

.card {
  min-width: 1px;
  &--scroll {
    // white-space: pre;
    overflow-x: scroll;
    // &::-webkit-scrollbar-thumb {
    // }
  }

  &__element {
    &_details--arrow_right {
      & summary::-webkit-details-marker {
        display: none;
      }
      & > summary {
        list-style: none;
      }

      & summary::after {
        content: $arrowOpen;
        margin-left: 7px;
      }

      &[open] summary::after {
        content: $arrowClose;
        position: relative;
      }
    }
    &_details--arrow_bottom {
      &:hover {
        color: $color_primary;
      }
      & summary::-webkit-details-marker {
        display: none;
      }
      & > summary {
        list-style: none;
      }

      & summary {
        position: relative;
      }
      & summary p {
        white-space: pre;
      }

      & summary::after {
        content: $arrowOpen;
        position: absolute;
        left: 0;
        top: 20px;
      }

      &[open] summary::after {
        content: $arrowClose;
      }
    }

    &_scroll_burger_menu {
      // white-space: pre;
      overflow-x: scroll;
      &::-webkit-scrollbar-thumb {
        color: $color_primary;
        background-color: $color_primary;
      }
      @media (min-width: 992px) {
        & {
          overflow: visible;
        }
      }
    }
  }
  // todo MOD
  &--flex {
    display: flex;
  }
  &--inline {
    display: inline;
  }

  &--padding_sm {
    padding: 0.5em;
  }

  &--border {
    $number: 0.1em;

    &_circle {
      border-radius: 50%;
    }

    &_sm {
      border: $number solid $color_secondary_md;
    }
    &_top_sm {
      border-top: $number solid $color_secondary_md;
    }
    &_bottom_sm {
      border-bottom: $number solid $color_secondary_md;
    }
    &_right_sm {
      border-right: $number solid $color_secondary_md;
    }
    &_left_sm {
      border-left: $number solid $color_secondary_md;
    }

    &_lg {
      border: $number solid $color_bark;
    }
  }
}
