@include font("Montserrat-Light", "Montserrat-Light", "400", "normal");
@include font("Montserrat-Bold", "Montserrat-ExtraBold", "400", "normal");
@include font("Montserrat-Regular", "Montserrat-Regular", "400", "normal");
@include font("Roboto-Regular", "Roboto-Regular", "400", "normal");

@import "variables";

@mixin caption--size($value) {
  //! transition fonts on full

  @media (min-width: 992px) {
    font-size: $value;
  }
}
@mixin caption--color($value) {
  //! color media
  @media (min-width: 576px) {
    &_media_sm {
      color: $value;
    }
  }
  @media (min-width: 768px) {
    &_media_md {
      color: $value;
    }
  }
  @media (min-width: 992px) {
    &_media_lg {
      color: $value;
    }
  }
  @media (min-width: 1200px) {
    &_media_xl {
      color: $value;
    }
  }
  @media (min-width: 1400px) {
    &_media_xxl {
      color: $value;
    }
  }
}

.caption {
  &__element {
    min-width: 1px;
  }
  //! size
  &--size_0 {
    font-size: 10px !important;
    @include caption--size(10px !important);
  }
  &--size_1 {
    font-size: 3em;
    @include caption--size(4.8em);
  }
  &--size_2 {
    font-size: 2.5em;
    @include caption--size(3.6em);
  }
  &--size_3 {
    font-size: 2em;
    @include caption--size(3em);
  }
  &--size_4 {
    font-size: 1.8em;
    @include caption--size(2.4em);
  }
  &--size_5 {
    font-size: 1.6em;
    @include caption--size(1.8em);
  }
  &--size_6 {
    font-size: 1.5em;
    @include caption--size(1.6em);
  }
  &--size_7 {
    font-size: 1.4em;
    @include caption--size(1.5em);
  }
  &--size_8 {
    font-size: 1.3em;
    @include caption--size(1.4em);
  }
  &--size_9 {
    font-size: 1.2em;
    @include caption--size(1.3em);
  }

  //

  &--minus_x2 {
    font-size: 0.5em;
    @include caption--size(0.5em);
  }
  &--minus_x3 {
    font-size: 0.33em;
    @include caption--size(0.33em);
  }
  //! family
  &--family_1 {
    font-family: "Montserrat-Regular";
  }
  &--family_1_lg {
    font-family: "Montserrat-Bold";
  }

  &--family_2 {
    font-family: "Montserrat-Light";
  }
  &--family_3 {
    font-family: "Roboto-Regular";
  }

  //! width wold
  &--spacing_1 {
    letter-spacing: 0.2em;
  }
  &--spacing_2 {
    letter-spacing: 0.054em;
  }
  &--spacing_3 {
    letter-spacing: 0.05em;
  }
  &--spacing_4 {
    letter-spacing: 0.027em;
  }
  &--spacing_5 {
    letter-spacing: 0.02em;
  }

  //! line row
  &--line_height_md {
    line-height: 2.2rem;
  }
  &--line_height_lg {
    line-height: 3rem;
  }

  //! font-weight
  &--weight_100 {
    font-weight: 100;
  }
  &--weight_400 {
    font-weight: 400;
  }
  &--weight_900 {
    font-weight: 900;
  }

  //! other
  &--uppercase {
    text-transform: uppercase;
  }
  &--line_through {
    text-decoration: line-through;
  }

  //! color fonts
  &--variant_dark_lg {
    color: $color_bark_lg;
    @include caption--color($color_bark_lg);
  }
  &--variant_dark {
    color: $color_bark;
    @include caption--color($color_bark);
  }

  &--variant_secondary {
    color: $color_secondary;
    @include caption--color($color_secondary);
  }
  &--variant_secondary_sm {
    color: $color_secondary_sm;
    @include caption--color($color_secondary_sm);
  }

  &--variant_light {
    color: $color_light;
    @include caption--color($color_light);
  }
  &--variant_brown {
    color: $color_brown;
    @include caption--color($color_brown);
  }

  &--variant_primary {
    color: $color_primary;
    @include caption--color($color_primary);
    &_hover:hover {
      color: $color_primary;
      cursor: pointer;
    }
  }

  //! position text
  &--text_center {
    text-align: center;
    @media (min-width: 576px) {
      &_media_sm {
        text-align: center;
      }
    }
    @media (min-width: 768px) {
      &_media_md {
        text-align: center;
      }
    }
    @media (min-width: 992px) {
      &_media_lg {
        text-align: center;
      }
    }
    @media (min-width: 1200px) {
      &_media_xl {
        text-align: center;
      }
    }
    @media (min-width: 1400px) {
      &_media_xxl {
        text-align: center;
      }
    }
  }
  &--text_left {
    text-align: left;
    @media (min-width: 576px) {
      &_media_sm {
        text-align: left;
      }
    }
    @media (min-width: 768px) {
      &_media_md {
        text-align: left;
      }
    }
    @media (min-width: 992px) {
      &_media_lg {
        text-align: left;
      }
    }
    @media (min-width: 1200px) {
      &_media_xl {
        text-align: left;
      }
    }
    @media (min-width: 1400px) {
      &_media_xxl {
        text-align: left;
      }
    }
  }
}
