@include font("Montserrat-Regular", "Montserrat-Regular", "400", "normal");
@include font("Montserrat-Light", "Montserrat-Light", "400", "normal");
@include font("Roboto-Regular", "Roboto-Regular", "400", "normal");

@import "variables";

@mixin caption--size($value) {
  //! transition fonts on full
  @media (min-width: 992px) {
    font-size: $value;
  }

  @media (min-width: 576px) {
    &_media_sm {
      font-size: $value;
    }
  }
  @media (min-width: 768px) {
    &_media_md {
      font-size: $value;
    }
  }
  @media (min-width: 992px) {
    &_media_lg {
      font-size: $value;
    }
  }
  @media (min-width: 1200px) {
    &_media_xl {
      font-size: $value;
    }
  }
  @media (min-width: 1400px) {
    &_media_xxl {
      font-size: $value;
    }
  }
}
@mixin caption--color($value) {
  //! color media
  @media (min-width: 576px) {
    &_media_sm {
      color: $value;
    }
  }
  @media (min-width: 768px) {
    &_media_md {
      color: $value;
    }
  }
  @media (min-width: 992px) {
    &_media_lg {
      color: $value;
    }
  }
  @media (min-width: 1200px) {
    &_media_xl {
      color: $value;
    }
  }
  @media (min-width: 1400px) {
    &_media_xxl {
      color: $value;
    }
  }
}

.caption {
  &__element {
    min-width: 1px;
  }
  //! size
  &--size_1 {
    font-size: 2em;
    @include caption--size(4.8em);
  }
  &--size_2 {
    font-size: 2.5em;
    @include caption--size(3.6em);
  }
  &--size_3 {
    font-size: 2em;
    @include caption--size(3mm);
  }
  &--size_4 {
    font-size: 1.8em;
    @include caption--size(2.4em);
  }
  &--size_5 {
    font-size: 1.6em;
    @include caption--size(1.8em);
  }
  &--size_6 {
    font-size: 1.5em;
    @include caption--size(1.6em);
  }
  &--size_7 {
    font-size: 1.4em;
    @include caption--size(1.5em);
  }
  &--size_8 {
    font-size: 1.3em;
    @include caption--size(1.4em);
  }
  &--size_9 {
    font-size: 1.2em;
    @include caption--size(1.3em);
  }
  //! family
  &--family_1 {
    font-family: "Montserrat-Regular";
  }
  &--family_2 {
    font-family: "Montserrat-Light";
  }
  &--family_3 {
    font-family: "Roboto-Regular";
  }

  //! width wold
  &--spacing_1 {
    letter-spacing: 0.2em;
  }
  &--spacing_2 {
    letter-spacing: 0.054em;
  }
  &--spacing_3 {
    letter-spacing: 0.05em;
  }
  &--spacing_4 {
    letter-spacing: 0.027em;
  }
  &--spacing_5 {
    letter-spacing: 0.02em;
  }

  //! font-weight
  &--weight_100 {
    font-weight: 100;
  }
  &--weight_400 {
    font-weight: 400;
  }
  &--weight_900 {
    font-weight: 900;
  }

  //! other
  &--uppercase {
    text-transform: uppercase;
  }

  //! color fonts
  &--variant_dark {
    color: $color_bark;
    @include caption--color($color_bark);
  }

  &--variant_secondary {
    color: $color_secondary;
    @include caption--color($color_secondary);
  }
  &--variant_secondary_sm {
    color: $color_secondary_sm;
    @include caption--color($color_secondary_sm);
  }

  &--variant_light {
    color: $color_light;
    @include caption--color($color_light);
  }

  &--variant_primary {
    color: $color_primary;
    @include caption--color($color_primary);
  }

  &--align_center {
    text-align: center;
    @media (min-width: 576px) {
      &_media_sm {
        text-align: center;
      }
    }
    @media (min-width: 768px) {
      &_media_md {
        text-align: center;
      }
    }
    @media (min-width: 992px) {
      &_media_lg {
        text-align: center;
      }
    }
    @media (min-width: 1200px) {
      &_media_xl {
        text-align: center;
      }
    }
    @media (min-width: 1400px) {
      &_media_xxl {
        text-align: center;
      }
    }
  }
  &--align_left {
    text-align: left;
    @media (min-width: 576px) {
      &_media_sm {
        text-align: left;
      }
    }
    @media (min-width: 768px) {
      &_media_md {
        text-align: left;
      }
    }
    @media (min-width: 992px) {
      &_media_lg {
        text-align: left;
      }
    }
    @media (min-width: 1200px) {
      &_media_xl {
        text-align: left;
      }
    }
    @media (min-width: 1400px) {
      &_media_xxl {
        text-align: left;
      }
    }
  }
}
