@import "variables";

//! nav
.header {
  z-index: 999;
  position: fixed;

  @media (min-width: 992px) {
    & {
      position: static;
    }
  }

  &_block {
    min-width: 1px;
  }

  &__burger-button {
    height: 30px;
    width: 40px;
    z-index: 100;
    &-true {
      min-width: 1px;
      &--display-none {
        display: none;
      }
    }
    @media (min-width: 992px) {
      & {
        display: none;
      }
    }
  }

  &__menu {
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.25s linear all;
    @media (min-width: 992px) {
      & {
        padding: 0px;
        position: static;
        width: 100%;
        height: auto;
        transition: 0s all;
        transform: translateX(0%);
      }
    }
  }

  &__menu.is-active {
    transform: translateX(0%);
  }
}
.header_two_block_part {
  @media (min-width: 992px) {
    display: grid;
    grid-template-areas: "header_top_part" "header_bottom_part";
  }
}
.header_top_part {
  grid-area: header_top_part;
}
.header_bottom_part {
  grid-area: header_bottom_part;
}
