@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "variables";
@import "fonts";
@import "row";
@import "card";
@import "control";
@import "cell";

@import "header";

:root {
  font-size: 10px;
}

html,
body {
  font-size: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: transparent;
}

$wrapperWidth: 0em 2em;

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: $wrapperWidth;
  &_lg {
    max-width: 1800px;
    margin: 0 auto;
    padding: $wrapperWidth;
    // @media (min-width: 992px) {
    //   padding: 0px 20px;
    // }
  }
  &_hidden {
    @extend .wrapper;
    padding: 0;
    @media (min-width: 992px) {
      padding: $wrapperWidth;
    }
    &_lg {
      @extend .wrapper;
      max-width: 1800px;
      padding: 0;
      @media (min-width: 992px) {
        padding: $wrapperWidth;
      }
    }
  }
}

.section {
  min-width: 1px;
  &--full_screen_height {
    height: 100vh;
  }
  &--img_city {
    background-image: url(../img/img_city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &--indents_md {
    padding: 6.2em 0em 12.5em;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  // display: block;
  // position: relative;
  object-fit: cover;
  &__element {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
  &--deg_180 {
    transform: rotate(180deg);
  }
}

.list {
  &--list_style_none {
    list-style: none;
  }
  &__item {
    min-width: 1px;
  }
  &--display_flex {
    display: flex;
  }
  &--sides {
    margin-left: 12px;
  }
  &--point_sm {
    list-style: none;
    & li::before {
      content: "\2022";
      position: relative;
      right: 10px;
    }
  }
}

// todoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo

.mt10 {
  margin-top: 10px;
}
.no {
  margin: 0px !important;
  padding: 0px !important;
}
.ms-20 {
  margin: 0 20px;
}

.fac {
  display: flex;
  align-items: center;
}

.pa {
  position: absolute;
  z-index: 999;
}
.red {
  background-color: red;
}
.cr svg {
  background-color: red;
  color: red;
  fill: red;
}
.cr image {
  background-color: red;
  color: red;
  fill: rgb(255, 0, 0);
}
.r {
  right: 0px;
}
