$color_bark_lg: black;
$color_bark: #333333;
$color_bark_md: #454647;

$color_secondary: #777777;
$color_secondary_sm: #999999;
$color_secondary_md: #e7e7e7;

$color_light: #f8f8f8;
$color_primary: #00c8c8;
$color_brown: #575153;

$arrowOpen: "⌵";
$arrowClose: "<";

@mixin media_background-color($var) {
  & {
    background-color: $var;
  }
  @media (min-width: 576px) {
    &_media_xm {
      background-color: $var;
    }
  }
  @media (min-width: 768px) {
    &_media_md {
      background-color: $var;
    }
  }
  @media (min-width: 992px) {
    &_media_lg {
      background-color: $var;
    }
  }
  @media (min-width: 1200px) {
    &_media_xl {
      background-color: $var;
    }
  }
  @media (min-width: 1400px) {
    &_media_xxl {
      background-color: $var;
    }
  }
  //! max
  @media (max-width: 576px) {
    &_media_max_xm {
      background-color: $var;
    }
  }
  @media (max-width: 768px) {
    &_media_max_md {
      background-color: $var;
    }
  }
  @media (max-width: 992px) {
    &_media_max_lg {
      background-color: $var;
    }
  }
  @media (max-width: 1200px) {
    &_media_max_xl {
      background-color: $var;
    }
  }
  @media (max-width: 1400px) {
    &_media_max_xxl {
      background-color: $var;
    }
  }
}

//! color background
.color--variant_dark {
  @include media_background-color($color_bark);
}

.color--variant_secondary {
  @include media_background-color($color_secondary);
}
.color--variant_secondary_sm {
  @include media_background-color($color_secondary_sm);
}
.color--variant_secondary_md {
  @include media_background-color($color_bark_md);
}

.color--variant_light {
  @include media_background-color($color_light);
}

.color--variant_primary {
  @include media_background-color($color_primary);
}
.color--variant_brown {
  @include media_background-color($color_brown);
}

@mixin min_media($what, $howMuch) {
  @media (min-width: 576px) {
    &_media_sm {
      #{$what}: #{$howMuch};
    }
  }
  @media (min-width: 768px) {
    &_media_md {
      #{$what}: #{$howMuch};
    }
  }
  @media (min-width: 992px) {
    &_media_lg {
      #{$what}: #{$howMuch};
    }
  }
  @media (min-width: 1200px) {
    &_media_xl {
      #{$what}: #{$howMuch};
    }
  }
  @media (min-width: 1400px) {
    &_media_xxl {
      #{$what}: #{$howMuch};
    }
  }
}

@mixin forRowCellSpace($marginMinus, $margin, $padding) {
  & {
    margin: $marginMinus;
  }
  & > .cell--0 {
    padding: $padding;
    margin: $margin;
    @include min_media(padding, $padding);
    @include min_media(margin, $margin);
  }
  & > .cell--33 {
    width: 33.33%;
    padding: $padding;
    margin: $margin;
    @include min_media(padding, $padding);
    @include min_media(margin, $margin);
  }
  & > .cell--100 {
    width: 100%;
    padding: $padding;
    margin: $margin;
    @include min_media(width, 100%);
    @include min_media(padding, $padding);
    @include min_media(margin, $margin);
  }
  @for $i from 1 through 9 {
    & > .cell--#{"#{$i}0"} {
      width: #{"#{$i}0%"};
      padding: $padding;
      margin: $margin;
      @media (min-width: 576px) {
        &_media_sm {
          width: #{"#{$i}0%"};
          padding: $padding;
          margin: $margin;
        }
      }
      @media (min-width: 768px) {
        &_media_md {
          width: #{"#{$i}0%"};
          padding: $padding;
          margin: $margin;
        }
      }
      @media (min-width: 992px) {
        &_media_lg {
          width: #{"#{$i}0%"};
          padding: $padding;
          margin: $margin;
        }
      }
      @media (min-width: 1200px) {
        &_media_xl {
          width: #{"#{$i}0%"};
          padding: $padding;
          margin: $margin;
        }
      }
      @media (min-width: 1400px) {
        &_media_xxl {
          width: #{"#{$i}0%"};
          padding: $padding;
          margin: $margin;
        }
      }
    }
    & > .cell--#{"#{$i}5"} {
      width: #{"#{$i}5%"};
      padding: $padding;
      margin: $margin;
      @media (min-width: 576px) {
        &_media_sm {
          width: #{"#{$i}5%"};
          padding: $padding;
          margin: $margin;
        }
      }
      @media (min-width: 768px) {
        &_media_md {
          width: #{"#{$i}5%"};
          padding: $padding;
          margin: $margin;
        }
      }
      @media (min-width: 992px) {
        &_media_lg {
          width: #{"#{$i}5%"};
          padding: $padding;
          margin: $margin;
        }
      }
      @media (min-width: 1200px) {
        &_media_xl {
          width: #{"#{$i}5%"};
          padding: $padding;
          margin: $margin;
        }
      }
      @media (min-width: 1400px) {
        &_media_xxl {
          width: #{"#{$i}5%"};
          padding: $padding;
          margin: $margin;
        }
      }
    }
  }
}
