
.row
  
  .cell.cell--100.row--margin_top_none
    h1.caption.caption--size_5.caption--family_1.caption--uppercase.caption--variant_brown.caption--text_center.caption--text_left_media_xl Ave classic sweatshirt
  
  .cell.cell--100.row--margin_top_none
    .row.row--space_sm_1.row--flex.row--align-center.row--justify_center.row--justify_start_media_xl
      .cell--0
        .control__rating_star
      .cell--0
        p.caption.caption--size_9.caption--family_1 
          a.caption--variant_primary_hover 3 Review(s)
      .cell--0
        p.caption.caption--size_9.caption--family_1 |
      .cell--0
        p.caption.caption--size_9.caption--family_1 
          a.caption--variant_primary_hover Add a Review
      .cell--0
        p.caption.caption--size_9.caption--family_1 |
      .cell--0
        p.caption.caption--size_9.caption--family_1
          a.caption--variant_primary_hover Share:
      
      .cell--0
        a(href="http://facebook.com")
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='0.8em' height='1.5em')
            image(x='0px' y='0px' width='0.8em' height='1.5em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAPCAQAAABzA0a4AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUGxbVpyTqAAAAjElEQVQI113NsU0DURRE0TP4N+DUoV2C3QIl/Bq2AtYuwbCZQ5cAtWxKSAuU8Ah2sRATjDRXV5pYM23tyzhnmW/XnKGGBlN3XsVtAx3q4jsfDUowvkKmXvt0R+oS7q16eoFcMbflZuli3jx/ZbazC4Pb+BmY3nVeAk9+5TUryAM9jPwF9d/I4JTDAn4ASNcjdsazWG4AAAAASUVORK5CYII=')
      .cell--0
        a(href="http://tviter.com")
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1.3em' height='1.2em')
            image(x='0px' y='0px' width='1.3em' height='1.2em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAQAAAATvv9SAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUHQ/nliusAAAAsklEQVQY012QsXWDQBBE/6BLHNLCtXCpQp46sEuQKkBWqhCuAlGCKAFSh7RACyphHBwo0EQ7b+fv2134UB9zXSrlSGznYnJkIoI7JV8qnz3l7w15EgH064YUtALPvDB4dtKW0dCOgRcAyQ8BRhjQAsGA3ktodwtU15GhpHcZ1naBCrSWhvFG+gZwgOnv9OUjCBV6vN4BQt+optaLmkKN7U8ZHARnNyWvmW4//60cc/p82T8DFToYcu0YYwAAAABJRU5ErkJggg==')
      .cell--0
        a(href="http://google.com")
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1.8em' height='1.2em')
            image(x='0px' y='0px' width='1.8em' height='1.2em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAMCAQAAADFGyU3AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUHhUx2YEVAAAA0ElEQVQY012QbZWDMBBF7+vBABZYCbEQCyABBykroSQKigSwEAmNBSQsEmZ/QHsK82s+7rzzZgQAqbdWjs2yfsPGJQSx0YwDQwAbXchnqIIdoajQ4ClXBIhDtGhpOKrme5aecQao1BrKYdzb9/UbslY1QGVOWAaIDx16xl2x1xMgGctNu/v3Lu8D9KmhouDwjKCJVdDKA4SJKf2pDoKbLYCPA4Q1TGScwXLoLnsmSK/9BRSr5anBfs4HVEDHbE4Od/jozsjHc+ppcWxkxnBB4B/OtU6YkW/smwAAAABJRU5ErkJggg==')
      .cell--0
        a(href="http://print.com")
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1.4em')
            image(x='0px' y='0px' width='1em' height='1.4em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAQAAAC8qkUgAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUHwfbe8EcAAAAr0lEQVQY013Pu1HDUBQE0HOFG3gtKCWUQ0IPHYgS5Ar8aQG/ClBK6BLkFlyC1YJSZ5cAPAOcaDfb5UcttXvkgNMQh2wDRsfdEtTJxtXFoteZrZ9Ohxic8819/zmNr89elMYh5TammGqPMWXfKHGNVodCLkFpgmIhuRAtsTRGrY6YdzM2uKwcLVqy1NYmB+I9oH4YyO/R2924Al2KdfTkeX99XMzTzS8NJKP/6u1v/wLBGDsHZjRC4gAAAABJRU5ErkJggg==')
      .cell--0
        a(href="http://instagram.com")
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1.2em' height='1.4em')
            image(x='0px' y='0px' width='1.2em' height='1.4em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAQAAACxtDVnAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUIAgTGvaxAAAAuUlEQVQY01XQYW3DUAwE4M9RCYRCKGwQWgihsCJINwhVH4IFwgJhoVAKD8IeBPdHunazZMnynX32BZdBHyDFlu1Uo3x621ruIJij3KtHzJoxh91fNkxHyhDDzmO7qteXczYv7DZ+cJhWyle+b/NdcMU6reAYcnVNHepTIXs0NXSQq/1lD3EmlpS6lOKYLb7LT0mjdVoIHWGqXi3ZXH1MB9s5l4yaS/j3z2i4W/IQ/wXneJq4eRPIdqo3+TRKRqzkdw4AAAAASUVORK5CYII=')
      .cell--0
        a(href="http://")
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1.4em' height='1.3em')
            image(x='0px' y='0px' width='1.4em' height='1.3em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAQAAAAz1Zf0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUIDlCxPaLAAAAuElEQVQY022QUZHDMAwF92VMIIUQCi6EBkIOQhj4GghOjKAH4Y5CINgUSqEQ1A+fp51p9CVpZ95IK0iegzK+i1LGv69AbdgdnoUdDP2D2tlF0RnyYf2MTVfoBNMWP1BkMpSMH5so+gqPCrZev+b1x9wZFI0M5G0ASIMyg0ZKjSUUnbmT07zNZO6cQwFwNSo8GFPkJljD0t7qXkeEhROnhkA4oG+ODJEa6w1HIbbHX54EaNeR2yoxlCdS3TzrZOuU2QAAAABJRU5ErkJggg==')
  
  .call.cell--100.caption--text_center.caption--text_left_media_xl.row--margin_top_none
    h2.caption.caption--size_3.caption--family_2.caption--variant_secondary_sm.caption--spacing_3 #[span.caption--line_through #[sup.caption--minus_x2 £]107]  #[sup.caption--minus_x2 £]89.99
  
  .cell.cell--100.cell--40_media_md.cell--60_media_xl.caption--text_center.caption--text_left_media_md.cell--vertical_none_media_xl
    .row
      .cell.cell--100
        h3.caption.caption--family_9.caption--family_1 #[span.caption--family_1_lg.caption--variant_brown.caption--uppercase Availability:] #[span.caption--variant_secondary In stock]
      .cell.cell--100
        h3.caption.caption--family_9.caption--family_1 #[span.caption--family_1_lg.caption--variant_brown.caption--uppercase Product Code:] #[span.caption--variant_secondary #499577]
      .cell.cell--100
        h3.caption.caption--family_9.caption--family_1 #[span.caption--family_1_lg.caption--variant_brown.caption--uppercase Tags:] #[span.caption--variant_primary Classic, Casual, V-neck, Loose]
  
  .cell.cell--100.cell--60_media_md.cell--100_media_xl.caption--text_center.caption--text_left_media_md.cell--vertical_none_media_xl
    .row
      .cell.cell--100
        p.caption.caption--size_7.caption--family_3.caption--variant_secondary.caption--line_height_md Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse est congue metus nunc, id viverra elit loreti rhoncus quis consecteur es. Donec pulvinar tempor lorem a pretium justo interdum.
      .cell.cell--100
        ul.list.list--sides.list--point_sm.caption--size_7.caption--family_3.caption--variant_secondary.caption--line_height_md
          li.list__item Elasticated cuffs
          li.list__item Casual fit
          li.list__item 100% Cotton
          li.list__item Free shipping with 4 days delivery

  .cell.cell--100.cell--vertical_none_media_xl
    form(action="*.*").control.form_parameters.row.row--space_md.row--justify_center.row--justify_start_media_sm

      .cell.cell--50.cell--40_media_sm.cell--35_media_xl
        label(for="form_parameters__color").caption.caption--size_9.caption--family_1_lg.caption--variant_brown.caption--uppercase colour
        .row--relative.control__element--arrow_absolute_right.row--margin_top_sm-1_em
          select(name="size" from="form_parameters" id="form_parameters__color" required).control.control__element.control__element--padding_sm.control--none_marker.card--border_sm
            - for (i of setColor)
              option(value="#{i}").caption.caption--size_9.caption--family_2.caption--variant_secondary Color #{i} 
      
      .cell.cell--50.cell--40_media_sm.cell--35_media_xl
        label(for="form_parameters__size").caption.caption--size_9.caption--family_1_lg.caption--variant_brown.caption--uppercase size
        .row--relative.control__element--arrow_absolute_right.row--margin_top_sm-1_em
          select(name="size" from="form_parameters" id="form_parameters__size" required).control.control__element.control__element--padding_sm.control--none_marker.card--border_sm
            - for (i of setSize)
              option(value="#{i}").caption.caption--size_9.caption--family_2.caption--variant_secondary Size #{i} 
      
      .cell.cell--0
        label(for="form_parameters__size").caption.caption--size_9.caption--family_1_lg.caption--variant_brown.caption--uppercase size
        .row--flex.row--relative.row--margin_top_sm-1_em.card--border_sm.cell--width_md
          .cell--50_indents_none
            input(name="qty" from="form_parameters" id="form_parameters__qty" required type="number").control.control__element.control__element--padding_xm.control--none_marker
          .cell--50_indents_none.row--block
            button(type="button")#control-input-plus.control.control--width_full.control--height_half.row--relative.card--border_left_sm.card--border_bottom_sm
              .control__element.control__element--arrow_absolute_center.img--deg_180
            button(type="button")#control-input-minus.control.control--width_full.control--height_half.row--relative.card--border_left_sm
              .control__element.control__element--arrow_absolute_center
      .cell.cell--100.row--margin_bottom_none_media_xl
        .row
          .cell.cell--100.cell--45_media_sm
            //- .control__element--padding_sm
            button(type="button").control.control__element.color--variant_dark.caption--size_0.control__element--padding_sm.control--cursor
              .row.row--align-center.row--justify_center
                .cell.cell--0
                  svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1.8em' height='1.5em')
                    image(x='0px' y='0px' width='1.8em' height='1.5em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAQAAABDj1eZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQULSZ6YoUzAAAAi0lEQVQoz62Q0Q0CIRBEn5drgFpogRZoQVuwBGqxhitBWqAEKWH8ABQV7n4cEshOXmaXRUFFTszOSRYHBBKJkTKXRt81l1sqv7GjBsW/QYl8DM2zMml9FRuumaR6l5f3yryks8x4mS3phif+TBa5wvphGcywqpFGD0mha9I5C/tyfRKy8l8DW/nykSc9Qo3W4MYHWgAAAABJRU5ErkJggg==')

                .cell.cell--0.caption--size_0
                  p.caption.caption--size_6.caption--family_1.caption--spacing_1.caption--uppercase.caption--variant_light Add to Cart

          .cell.cell--100.cell--55_media_sm
            button(type="button")#heartExcuseButton.control.control__element.caption--size_0.control__element--padding_sm.card--border_lg.control--cursor
              .row.row--align-center.row--justify_center
                #heartExcuseBox.cell.cell--0
                  svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1.8em' height='1.6em')
                    image(x='.0em' y='.0em' width='1.8em' height='1.6em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEVFRkdFRkdFRkdFRkdFRkdFRkdFRkdFRkdFRkdFRkdFRkdFRkdFRkdFRkdFRkdFRkf///8FyYTLAAAAD3RSTlMAEVV3ZkTuIsy7md2IM6qgLGHWAAAAAWJLR0QQlbINLAAAAAd0SU1FB+QJFxQ5IkEUOZEAAAB9SURBVBjTVY9bFsQgCEODKIi2w/53O6h92PzEcwkaAVDiTAgV5jIc2UPC0DoOFsPiTaHNTXqKBamA2cymOR+JAj8mwknLnR90K5DVD0l+xjJvhPq4unl6iYkO/3m+SZXVFce1S31lXqYbATiqqHTd32Zv0unbMF8f2nU+5A+OGwOmGkomXAAAAABJRU5ErkJggg==')

                .cell.cell--0.caption--size_0
                  p.caption.caption--size_6.caption--family_1.caption--spacing_1.caption--uppercase.caption--variant_dark Add to LookBook
      .cell.cell--100.row--margin_top_none_media_xl
        button(type="button").control.caption--size_0.control__element--padding_sm.control--cursor
          .row.row--align-center.row--justify_center
            .cell.cell--0
              .card.color--variant_secondary_md.card--border_circle.row--block.card--padding_sm
                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1.5em' height='1.6em')
                  image(x='.0em' y='.0em' width='1.5em' height='1.6em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAQAAABjX+2PAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUJw61OMVDAAAAjElEQVQY03WRQRGDMBQFd5gaiIVYQAsWYoFaQEI1VAIWqIRaKBK2hwIhodl/SnbeSyZBGhOM0pZvP8Z6OzlsUjXVelbTJsdr+ezOKG39+K3b6UHkBkBPAGBlZWfkCYi9mVS2dcCL6cgECjoAplPpRQeWOpV1YCEC99MRGZf8CCZDeTUcDvlnEGPzU/kC2XTS7VtDyNsAAAAASUVORK5CYII=')
            .cell.cell--0
              p.caption.caption--size_8.caption--family_1.caption--spacing_1.caption--uppercase.caption--variant_dark Add to compare







