section.section.section--full_screen_height.section--img_city.row--flex.row--align-center
  .wrapper
    h1.caption.caption--size_1.caption--family_1.caption--text_center.caption--uppercase.caption--color_variant_100.caption--spacing_3 #[b.caption--family_1_lg roduct] view
    p.caption.caption--size_3.caption--family_1.caption--text_center.caption--color_variant_100.caption--spacing_3.row--margin_top_sm-1x_em mens - casuals - hoodies & sweatshirts - #[span.caption--color_variant_50 ave classic sweatshirt]