footer.section.color--bg_variant_28
  section.section.section_lg
    .wrapper--more_padding
      .row.row--space_lg.row--justify_center.row--justify_between_media_lg.cell--margin_none
        .cell.cell--0
          .row--space_md
            .cell.cell--100
              h3.caption.caption--size_9.caption--family_1.caption--color_variant_40.caption--uppercase Information
            .cell.cell--100
              .row--space_sm_1
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover The brand
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Local stores
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Customer service
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Privacy & cookies
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Site map
        .cell.cell--0
          .row--space_md
            .cell.cell--100
              h3.caption.caption--size_9.caption--family_1.caption--color_variant_40.caption--uppercase Why buy from us
            .cell.cell--100
              .row--space_sm_1
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Shipping & returns
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Secure shopping
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Testimonials
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Award winning
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Ethical trading
        .cell.cell--0
          .row--space_md
            .cell.cell--100
              h3.caption.caption--size_9.caption--family_1.caption--color_variant_40.caption--uppercase Your account
            .cell.cell--100
              .row--space_sm_1
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Sign in
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Register
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover View cart
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover View your lookbook
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Track an order
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Update information
        .cell.cell--0
          .row--space_md
            .cell.cell--100
              h3.caption.caption--size_9.caption--family_1.caption--color_variant_40.caption--uppercase Lookbook
            .cell.cell--100
              .row--space_sm_1
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Latest posts
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Men’s lookbook
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Women’s lookbook
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover VLookbooks RSS feed
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover View your lookbook
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Delete your lookbook
        .cell.cell--0
          .row--space_md
            .cell.cell--100
              h3.caption.caption--size_9.caption--family_1.caption--color_variant_40.caption--uppercase contact details
            .cell.cell--100
              .row--space_sm_1
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Head Office: Avenue Fashion, #[br] 180-182 Regent Street, London.
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Telephone: 0123-456-789 
                .cell.cell--100
                  p.caption
                    a(href="http://").caption.caption--size_8.caption--family_2.caption--color_variant_20.caption--variant_variant_50_hover Email: support@yourwebsite.com
  section.section.section_lg
    .wrapper
      .row
        .cell.cell--100.cell--50_media_md
          button.control.control__element.caption--size_0.control--indents_lg.color--bg_variant_3.control--cursor.card--bg_hover_variant_50
            h2.caption.caption--size_2.caption--family_1_lg.caption--uppercase.caption--spacing_3.caption--color_variant_100 award winner
            h3.caption.caption--size_2.caption--family_2.caption--uppercase.caption--spacing_3.caption--color_variant_100 fashion awards 2016
        .cell.cell--100.cell--50_media_md
          .control.caption--size_0.control--indents_lg.color--bg_variant_50.row.row--space_lg.row--flex_all_center.cell--margin_none
            .cell.cell--50.cell--width_auto_media_sm.row--flex.row--flex_all_center
              a(href="http://facebook.com")
                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1.8em' height='3.4em')
                  image(x='.0em' y='.0em' width='1.8em' height='3.4em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAiCAQAAAD4vUFxAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUKDtkEx2vAAAAm0lEQVQ4y2P8z4ABXBhcGIyR+BUM/1Gh8f/d/9GBCwuKGcYMuxkEMY1mQuHNxKYEVVEaikuQALJ1qEreM5yFs5AcjezkM/8FETLIipBBKLKfmbC7guE9bt/hANRTxMJQjlU8FClAOhn//ydoECNh6/ZQzeHEmsTC4Apn70YSr4BH71kGnHHnQkzckejwUUWDVRFyWVCBxL6HrAgAMet1771TT/QAAAAASUVORK5CYII=')
            .cell.cell--50.cell--width_auto_media_sm.row--flex.row--flex_all_center
              a(href="http://tvitter.com")
                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='3.2em' height='2.6em')
                  image(x='.0em' y='.0em' width='3.2em' height='2.6em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAaCAQAAAB8kpa0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUKSz+26kpAAABO0lEQVQ4y6WVYZHDIBCFv2bOABZiAQuchJ6EWuAk1EI0VEIrgUqgEhIJ734kTUgKpJ17/GAmk33svl0eB/EWLA7HwJ0b9/mrYUAIWVFZRlel6GSEWp3lxRjeVyiMgraIipKizEjgpQpFpzyirKxc+ovPhLcqIahXWDIYcVW7IThJFQojGmCYVXVEOtpEfVPsy4VvBmiAS0IBJyIBj91p7H2K0rqIbZKxWMCkWAN4bvwWxqctZvAYty8AAjBU6s1hKruZuT4Lh9u0C1GptITrs9ENAD+rPnxyPs+Bceo/ymAeuOXKmGIzX9Ets7o/89XzFwJ0fjv8nN6W+r3PIcjkCcaR3pPyxTdeHcBVMsnYzj/DUwIrX1Uh5E0PHdXtytdn7S7J4FShiPJr3dfrMD8sLUcsBjc7zmPzjGTxB8fmpmwhOx8+AAAAAElFTkSuQmCC')
            .cell.cell--50.cell--width_auto_media_sm.row--flex.row--flex_all_center
              a(href="http://instagram.com")
                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='3.1em' height='3.2em')
                  image(x='.0em' y='.0em' width='3.1em' height='3.2em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAgCAQAAABAi2vKAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUKhttS1/lAAABR0lEQVQ4y9WVW5mDMBSEf/qtgVhgJbASqAQsUAnUQiWAhFpoJGwkFAmthNkHEpZLsqW87fAChzPnOl+SCQBK3oUFQKjWQ+/joVqgagc1oMr0TfF24QEukzY7X3y/YGgxQ+/bweRpBtNhd+EA/B96sX5PT76nw2EpKajJgSfO/8vJ/Vtiyu1szqhNLSOG64KM0DXmGIrv6SdFfdKvmsm5Rzx9mEYI3ZK5f/Pf0rIZ5umIw63mv1ic2bA+k6b3vss48olPlD6UV0WrMFTr1uZ06x2bCL3xQe3MOpu8GY+tZjH1ZjyizPSbhXs9KuKmytsqv1BJqufhWGVLyHMh5eRxceKSmPyZ09J0iLodV9JxHGNhP6J5LF8UlBQYnjhsSolx+pDP8RKh+GKTYANMuNQy3ZMifY3+QLebDN2rTetvFWQCKHfccw4LPwHYSLWTHtIVAAAAAElFTkSuQmCC')

            .cell.cell--50.cell--width_auto_media_sm.row--flex.row--flex_all_center
              a(href="http://print.com")
                svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='3.1em' height='3.2em')
                  image(x='.0em' y='.0em' width='3.1em' height='3.2em' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAgCAQAAABAi2vKAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQUKw9uirrZAAABuUlEQVQ4y41VXZmDMBAccBALnAQsUAm1wEnISeAkUAlUQk5CkQASqIS5h4RllwBflwf4kp3s32QoiFOr4QAAM+ZTH+ZPRc9AawNbutw3h/Y8s4V+f4QFey68toX3M3jPz6w7gn8KJsl+D+8OWlXJ0TU9J7PvNfy+g1Z5j7PONARREHB4oZJJfuMhc28AACP+ZCUkLgAzvuLcvTqzTZFak+wk/a5VBm1MfnPsLtrYSQnboQAbNVN32EZTrQlXl6k+AHjgDaCCBwD8oEAhfQCANr2fstJAsbtRsdfJOsO4/ZyCTiVuvmJaMi5tcWUrd0K2qb/B+hLOEtfWqO8x3y4z12ciCMw7EmW/9i6FUevy00S9K/ifCRPzURRZ5x6kdapK2dWz6EpVkUuMrqXOSsX+xdtMP0V3prcTO5JBpGtl+MaDReWDY4Z7pX0deyVQg/WKLsfs3qizRtaBFlarXPgdfL13WjjaI72BoWq0l7lZgYEhU+Bgtc6pAzoel6QDJL1fWffGTUY4Z3S1NuKWhgjbmkE1bjiJ3Os/zV5NW05sTlOfRHFO4DGLo9iDyKh6ipMftEOtbtaoLpaxfzKTeRalK3gkAAAAAElFTkSuQmCC')
  section.section.color--bg_variant_3
    .wrapper
      .row.row--justify_between_media_sm
        .cell.cell--100.cell--0_media_sm
          .row.row--justify_center.row--justify_start_media_sm
            .cell.cell--0
              p.caption
                a(href="http://").caption.caption--size_9.caption--family_1.caption--color_variant_23.caption--variant_variant_50_hover © 2016 Avenue Fashion™

        .cell.cell--100.cell--0_media_sm
          .row.row--justify_center.row--justify_start_media_sm
            .cell.cell--0
              p.caption
                a(href="http://").caption.caption--size_9.caption--family_1.caption--color_variant_21.caption--variant_variant_50_hover Design by RobbyDesigns.com
            .cell.cell--0
              p.caption 
                a(href="http://").caption.caption--size_9.caption--family_1.caption--color_variant_21.caption--variant_variant_50_hover Dev by Loremipsum.com
