.header_block.color--variant_dark
  .wrapper
    .row
      //- 2 columns
      .cell.cell--100.cell--40_media_lg.row--order_2_media_lg
        .row
          //- 3 columns
          .cell.cell--100.cell--33_media_lg.row--order_3_media_lg
            .card
              details.card__element_details--arrow_right.card--inline.row--flex_all_center
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.color--variant_primary.row--padding_top_sm-1x_em.row--padding_bottom_sm-1x_em.row--padding_sides_md-1x_em
                  svg.row--margin_right_md-1x_em#Layer_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='17px' viewbox='0 0 20 17' enable-background='new 0 0 20 17' xml:space='preserve')
                    image#image0(width='20' height='17' x='0' y='0' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAARCAQAAAB3TUQ1AAAABGdBTUEAALGPC/xhBQAAACBjSFJN\
                  AAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAAmJLR0QA/4ePzL8AAAAJcEhZ\
                  cwAACxMAAAsTAQCanBgAAAAHdElNRQfkCRMQMSzmHqEVAAAAn0lEQVQoz42SUQ3DMAxEX6sRCIVR\
                  CIVQ6CCMQkdhEFoKo1AKgdBQMITbx7QsrZqs5x/LeT4rsjvBgAOMFy3J66sg6tEJPI4rU9Pv1ilb\
                  N8FHn9PYBPmBy1nwtONpMGEt8FLkkbB7NRKJhDGX4EIgEkkZqDgCPKuLLNa06lirnNiOvmO73zs8\
                  hm0dp4PTyLWe//pMKbqdRg2783Ia5YV4AwFrih7el4gcAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIw\
                  LTA5LTE5VDE2OjQ5OjQ0KzAyOjAwIyi6MwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wOS0xOVQx\
                  Njo0OTo0NCswMjowMFJ1Ao8AAAAASUVORK5CYII=')
                  | empty
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
          .cell.cell--50.cell--33_media_lg.row--margin_bottom_sm-1x_em_media_max_lg.row--order_1_media_lg.row--flex.row--align-center
            a(href="http://Register").caption.caption--family_1.caption--size_9.caption--variant_secondary_sm Register
          .cell.cell--50.cell--33_media_lg.row--order_2_media_lg.row--flex.row--align-center
            a(href="http://sign_in.com").caption.caption--family_1.caption--size_9.caption--variant_secondary_sm Sign In

      .cell.cell--100.cell--60_media_lg.row--margin_bottom_sm-1x_em_media_max_lg.row--order_1_media_lg
        .card
          details.card__element_details--arrow_right
            summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_secondary Currency : GBP
            p.caption.caption--family_1.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas tempore tenetur ipsam culpa deleniti nostrum est magni dolore saepe. Cum laudantium autem aut placeat, cumque impedit mollitia labore quibusdam animi.



