.header_block
  .wrapper_lg
    .row
      .cell.cell--100
        a(href="http://logo.com")
          h1.caption.caption--family_1.caption--size_1.caption--uppercase avenue #[b.caption--weight_400 fashion]
      .cell.cell--100
        .card
          .card__element_scroll.row--flex.row--flex_nowrap
            .cell.cell--sides_md
              details.card__element_details--arrow_bottom
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.caption--variant_dark_media_lg #[p.caption.caption--size_9.caption--family_1.caption--uppercase mens]
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em water
            .cell.cell--sides_md
              details.card__element_details--arrow_bottom
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.caption--variant_dark_media_lg #[p.caption.caption--size_9.caption--family_1.caption--uppercase womens]
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em water
            .cell.cell--sides_md
              details.card__element_details--arrow_bottom
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.caption--variant_dark_media_lg #[p.caption.caption--size_9.caption--family_1.caption--uppercase.w the brand]
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em water
            .cell.cell--sides_md
              details.card__element_details--arrow_bottom
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.caption--variant_dark_media_lg #[p.caption.caption--size_9.caption--family_1.caption--uppercase local stores]
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em water
            .cell.cell--sides_md
              details.card__element_details--arrow_bottom
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.caption--variant_dark_media_lg #[p.caption.caption--size_9.caption--family_1.caption--uppercase look book]
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em water
