.header_block
  .wrapper_hidden_lg
    .row.row--indents_none.row--justify_between_media_lg
      .cell.cell--100.cell--15_media_lg.cell--25_media_xl
        //- h1.caption.caption--family_1.caption--size_4.caption--uppercase
        //-   a(href="http://logo.com") avenue #[b.caption--weight_400 fashion]

        a(href="http://logo.com")
          h1.caption.caption--family_1.caption--size_4.caption--uppercase.caption--spacing_3 #[span.caption--family_1_lg avenue] fashion
      .cell.cell--100.cell--85_media_lg.cell--75_media_xl
        .card
          .card__element_scroll.row--flex.row--flex_nowrap.row_media_lg.row--justify_end_media_lg
            .cell.cell--sides_sm.cell--sides_md_media_xxl.row--order_2.row--order_1_media_lg
              details.card__element_details--arrow_bottom
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.caption--variant_dark_media_lg #[p.caption.caption--size_9.caption--family_1.caption--uppercase.caption--variant_primary_hover mens]
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em water
            .cell.cell--sides_sm.cell--sides_md_media_xxl.row--order_3.row--order_2_media_lg
              details.card__element_details--arrow_bottom
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.caption--variant_dark_media_lg #[p.caption.caption--size_9.caption--family_1.caption--uppercase.caption--variant_primary_hover womens]
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em water
            .cell.cell--sides_sm.cell--sides_md_media_xxl.row--order_4.row--order_3_media_lg
              details.card__element_details--arrow_bottom
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.caption--variant_dark_media_lg #[p.caption.caption--size_9.caption--family_1.caption--uppercase.caption--variant_primary_hover the brand]
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em water
            .cell.cell--sides_sm.cell--sides_md_media_xxl.row--order_5.row--order_4_media_lg
              details.card__element_details--arrow_bottom
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.caption--variant_dark_media_lg #[p.caption.caption--size_9.caption--family_1.caption--uppercase.caption--variant_primary_hover local stores]
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em water
            .cell.cell--sides_sm.cell--sides_md_media_xxl.row--order_6.row--order_5_media_lg
              details.card__element_details--arrow_bottom
                summary.card__element_summary.caption--family_1.caption--size_9.caption--variant_light.caption--variant_dark_media_lg #[p.caption.caption--size_9.caption--family_1.caption--uppercase.caption--variant_primary_hover look book]
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--variant_secondary.row--margin_top_xm-7_em water
            .cell.cell--sides_sm.cell--sides_md_media_xxl.row--order_1.row--order_6_media_lg.row--relative_sm_top_media_lg.cell--left_padding_none_media_max_lg
              form.control.control--width_md_media_max_lg.control--border_gray_sm.row--flex.row--relative.row--padding_right_xl-1x_em(action="soma.php", method="get")
                input.control__element.control__element--padding_sm.control--border_none.caption--size_9.caption--family_2.caption--variant_light.caption--variant_dark_lg_media_lg(type="text" name="search" placeholder="asdasd")
                button.control.row--absolute_right_sm(type="submit")
                  svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='15px')
                    image(x='0px' y='0px' width='13px' height='15px' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAQAAACVKo38AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQVAxy2qz+aAAAAz0lEQVQY0z3OUXHDUBBD0SNPCZiCC8GBkFAoBAdCS6EIMgmFQoghOBQMIQ/C9uOl3Z/dGemulItC1Jipdi0oMIDZ5lmbp81MulQs2cwRkdlWS4kYMrsWe50d6mwnVzO8+Qx7HdJKHn5qM+XTRxkcqZvWo7XcqCMxGEmLHl40jL3G//maMdIog7VYjJ3JaMFaYvCNqbZazFlqqwm3KLmoJVed0bc9J/uAWx3q8RJWX2SquymXP/9osmslx7pHp3rtVg+NsDppvPn7/6ILWeudX0mgYHXBzs4zAAAAAElFTkSuQmCC')






