.header_block.color--bg_variant_3
  .wrapper_hidden
    .row.row--indents_none
      //- 2 columns
      .cell.cell--100.cell--35_media_lg.cell--margin_none_media_lg.row--order_2_media_lg
        .row
          //- 3 columns
          .cell.cell--100.cell--50_media_lg.row--order_3_media_lg.cell--margin_none_media_lg
            .card
              details.card__element_details--arrow_right.card--inline.row--flex_all_center
                summary.card__element_summary.caption--family_1.caption--size_9.caption--color_variant_100.color--bg_variant_50.row--padding_top_sm-1x_em.row--padding_bottom_sm-1x_em.row--padding_sides_md-1x_em.control--cursor
                  svg.row--margin_right_md-1x_em.row--margin_right_xm-5_em_media_lg.row--margin_right_md-1x_em_media_xl(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18px' height='15px')
                    image(x='0px' y='0px' width='18px' height='15px' xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAQAAABDj1eZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkCRQULSZ6YoUzAAAAi0lEQVQoz62Q0Q0CIRBEn5drgFpogRZoQVuwBGqxhitBWqAEKWH8ABQV7n4cEshOXmaXRUFFTszOSRYHBBKJkTKXRt81l1sqv7GjBsW/QYl8DM2zMml9FRuumaR6l5f3yryks8x4mS3phif+TBa5wvphGcywqpFGD0mha9I5C/tyfRKy8l8DW/nykSc9Qo3W4MYHWgAAAABJRU5ErkJggg==')


                  | empty
                p.caption.caption--size_9.caption--color_variant_20.row--margin_top_xm-7_em bread
                p.caption.caption--size_9.caption--color_variant_20.row--margin_top_xm-7_em bread
          .cell.cell--50.cell--25_media_lg.row--margin_bottom_sm-1x_em_media_max_lg.row--order_1_media_lg.row--flex.row--align-center
            a(href="http://Register").caption.caption--family_1.caption--size_9.caption--color_variant_23.caption--variant_variant_50_hover Register
          .cell.cell--50.cell--25_media_lg.row--order_2_media_lg.row--flex.row--align-center
            a(href="http://sign_in.com").caption.caption--family_1.caption--size_9.caption--color_variant_23.caption--variant_variant_50_hover Sign In 

      .cell.cell--100.cell--65_media_lg.row--margin_bottom_sm-1x_em_media_max_lg.row--order_1_media_lg.row--flex.row--align-center_media_lg.cell--margin_none_media_lg
        .card
          details.card__element_details--arrow_right.row--margin_top_sm-1x_em_media_lg.row--margin_bottom_sm-1x_em_media_lg
            summary.card__element_summary.caption--family_1.caption--size_9.caption--color_variant_21.control--cursor.caption--variant_variant_50_hover Currency : GBP
            p.caption.caption--family_1.caption--size_9.caption--color_variant_23.row--margin_top_xm-7_em Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas tempore tenetur ipsam culpa deleniti nostrum est magni dolore saepe. Cum laudantium autem aut placeat, cumque impedit mollitia labore quibusdam animi.



