<!DOCTYPE html>
html(lang='en')
  head
    meta(name='description' content='mens - casuals - hoodies & sweatshirts - ave classic sweatshirt')
    meta(name='keywords' content='product view, view')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    link(rel='stylesheet' href='css/style.min.css')

  body
    include ./pug/header.pug
    include ./pug/empty_section.pug

    script(src='js/script.min.js')


